@import url('./input.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}
