.inputs-container {
  background-color: rgb(33, 35, 50);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 400px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 60px;
  }

  .input-container {
    color: rgb(249, 246, 246);
    margin: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    input {
      border: none;
      background: none;
      margin-top: 5px;
      height: 40px;
      background-color: #32334a;
      padding-left: 7.5px;
      border-radius: 10px;
      color: white;
    }
  }
}

.inputs-container button {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  background: #fefefe;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: rgb(114, 60, 235);
    color: rgb(255, 255, 255);
  }
}
