@import './_variables.scss';

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}

.input-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;

  &.bg {
    background: $main-bg;
  }
}

.inputs-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 400px;
  height: auto;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);

  h2 {
    @include flex-center-center();
    height: 60px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 700;
  }

  .input-container {
    margin: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    label {
      text-transform: lowercase;
      letter-spacing: 2px;
      font-size: 13px;
    }

    input[type='color'] {
      border: none;
      width: 100%;
      height: 40px;
      border-radius: 10px;
    }

    input[type='text'],
    input[type='password'] {
      border: none;
      background: none;
      margin-top: 5px;
      height: 40px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      padding-left: 7.5px;
      border-radius: 10px;
      color: white;
      transition: 0.3s;

      &:focus {
        border: 2px solid rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.inputs-container button {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 50px;
  background: none;

  &::before {
    @include button-pseudo-class-before-after(left, 0);
  }

  &::after {
    @include button-pseudo-class-before-after(right, 0);
  }

  &:hover {
    color: black;
  }

  &:hover::before,
  &:hover::after {
    width: 60%;
  }
}

.invalid-inputs {
  border-radius: 10px;
  margin: 5px;
  height: 50px;
  @include flex-center-center();
  color: rgb(255, 0, 0);

  span {
    font-weight: 400;
    letter-spacing: 1px;
  }
}
