.inputs-container {
  background-color: rgb(255, 255, 255);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 400px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.inputs-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 60px;
}

.input-container {
  color: rgb(2, 2, 2);
  margin: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.input-container input {
  border: none;
  background: none;
  margin-top: 5px;
  height: 40px;
  background-color: rgb(5, 5, 5);
  padding-left: 7.5px;
  border-radius: 15px;
  color: white;
}
