@import './variables';
@import './_form.scss';
@import './menu.scss';
@import './notification.scss';
@import './loadingbar.scss';
@import './timeline.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&family=Epilogue:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@400;800&family=Ubuntu:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  // background-image: url('https://forum.cfx.re/uploads/default/original/4X/0/d/4/0d4279e8723fee587a3ea13cb3ada8b884a062b2.jpeg');
  background-size: cover;
}

*::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}
