$--bg-clr: linear-gradient(to bottom, #0f0e0f, rgba(32, 26, 26, 0.3));
$--bg-clr-primary: #0071ff;
$--bg-clr-secondary: #282d37;
$--bg-clr-wrapper: #323741;

$--clr-special-red: red;
$--clr-special-orange: orange;
$--clr-special-yellow: yellow;
$--clr-special-green: green;
$--clr-special-cyan: cyan;
$--clr-special-blue: blue;
$--clr-special-purple: purple;

$--clr-special-nx: red;
$--clr-font: white;
$--clr-font-secondary: #8b8787;
$--clr-font-special: $--clr-special-nx;

$--clr-danger: red;
$--clr-success: green;
$--clr-warn: orange;
$--clr-primary: #164892;

$--clr-bg-gradient-primary: linear-gradient(to right, #10294e 0%, #164892 100%);
$--clr-bg-gradient-warn: linear-gradient(to right, #5a3f0c 0%, #9b6604 100%);
$--clr-bg-gradient-danger: linear-gradient(to right, #5f2020 0%, #882323 100%);
$--clr-bg-gradient-success: linear-gradient(to right, #1c571c 0%, #117511 100%);

$--clr-hover-danger: #882323;
$--clr-hover-success: #117511;
$--clr-hover-warn: #9b6c16;
$--clr-hover-primary: #123c7c;

// Border Radius
$--brr-small: 5px;
$--brr-normal: 10px;
$--brr-medium: 15px;
$--brr-big: 20px;
$--brr-giant: 30px;

$--fw-100: 100;
$--fw-200: 200;
$--fw-300: 300;
$--fw-400: 400;
$--fw-500: 500;
$--fw-600: 600;
$--fw-700: 700;
$--fw-800: 800;
$--fw-900: 900;

$--fs-small: 12px;
$--fs-small-x: 13px;
$--fs-normal: 16px;
$--fs-medium: 20px;

$special-colors-list: $--clr-special-red, $--clr-special-orange,
  $--clr-special-yellow, $--clr-special-green, $--clr-special-cyan,
  $--clr-special-blue, $--clr-special-purple;

@mixin flex-center-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-pseudo-class-before-after($key, $value) {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  border-radius: 15px;
  transition: 0.3s;
  z-index: -1;
  background-color: white;
  #{$key}: $value;
}

@mixin set-special-color($key) {
  .special-color-#{$key} {
    color: nth($special-colors-list, $key);
  }
}

@for $i from 1 through 7 {
  @include set-special-color($i);
}
